.countries_list {   
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100%;
    position: relative;
    top: 0;
    border-radius: 8px 8px 8px 8px;
    background-color: beige;
    color: black;
    margin: 15px;
}