.countries_list_container {
    padding: 20px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    max-width: 250px;
    
}

.countries_list_buttons {
    display: flex;
    align-items: center;
}

.countries_list_buttons input{

    background-color: rgb(98, 125, 182);
    color: rgb(252, 252, 252);
    border-radius: 4px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.countries_list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;

}

.countrie {
    padding: 10px;
}

.img_countrie {
    width: 150px;
}

.capital {

    display: flex;
    flex-direction: row;
    align-items: center
}
.continente {

    display: flex;
    flex-direction: row;
    align-items: center
}